.burndown-header {
  grid-area: header;
}

.burndown-graphic {
  grid-area: main;
}

.burndown-days {
  grid-area: days;
}
.burndown-listPoints {
  grid-area:  listPoints;
}

.burndown-bars {
  grid-area: bars;
}

.burndown-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-content: center;
  justify-content: center;
}

.burndown-grid-container {
  width: 80%;
  height: 90%;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 0.8rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "days listPoints bars";
}
